.home-box {
  background-color: #DDDDDD;
  padding: 25px 0;
}

.home-info {
  @include textStyle(16px, 500, 19px, $more);
  font-family: 'Roboto';
  text-align: center;
  letter-spacing: 0.2em;
text-transform: uppercase;
}
.home-text {
  @include textStyle(31px, 700, 35px, #150C01);
  font-family: 'Philosopher';
  text-align: center;
}

.home-line {
  padding: 30px 0;
	@include flexBox(flex, space-between, center, wrap);

}
.home-item {
  width: 300px;
  height: 228px;
  text-align: center;
  margin: 10px auto;


 
}
.item-img-box {
  height: 88px;
  width: 88px;
  border-radius: 50%;
  background-color: rgba(143, 166, 50, 0.259);
	@include flexBox(flex, center, center, nowrap);
  margin: 0 auto;

}
.item-text {
  @include textStyle(31px, 700, 35px, #150C01);
  font-family: 'Philosopher';
  padding: 20px 0;
}
.item-info {
  @include textStyle(16px, 500, 19px, #000);
  font-family: 'Roboto';
  opacity: 0.8;
}


